* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #003049;
    color: white;
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
}

nav {
    display: none;
    flex-direction: column;
}

nav.open {
    display: flex;
}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  background-color: #669bbc;
  transform: scale(1.05);
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    background: white;
    padding: 1rem;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #003049;
    color: white;
}