@media screen and (min-width: 800px) {

    main {
        position: relative;
    }

    .card {
        position: absolute;
        width: 250px;

        background-color: rgba(255,255,255,0.9);
    }

    .data {
        top: 50px;
        left: 30px;
    }

    .weather {
        bottom: 50px;
        right: 30px;
    }

    .weather h2::after {
        content: " ⛅";
    }

    .weather-icon {
        display: none;
    }
}